/* fonts */
@font-face {
    font-family: 'YearOfTheCamel';
    src: url("font/The Year of The Camel/TheYearofTheCamel-ExtraBold.oft") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'YearOfTheCamel';
    src: url("font/The Year of The Camel/TheYearofTheCamel-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'YearOfTheCamel';
    src: url("font/The Year of The Camel/TheYearofTheCamel-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'YearOfTheCamel';
    src: url("font/The Year of The Camel/TheYearofTheCamel-Bold.otf") format("opentype");
    font-weight: 700;
}